
  :root{
    --primary-txt-color:#272829;
    --secondary-txt-color:#0563bb;
    --hover-txt-color:#067ded;
    --back-to-top-with-height:2.5 rem;
    --back-to-top-hover:#0678e3;
    --main-color:#fff;
    --main-bg-color:#f2f3f5;
    --radius-num:50%;
    --second-color:#45505b;
    --second-bg-color:#0563bb;

  }
  